<div align="center">
  <!--all css stuff on -->
<h1>Hello, Rails!</h1>
<h2><%= link_to 'My Blog', controller: 'articles' %></h2><br/>
<img src="https://66.media.tumblr.com/30d1804a341ae861fe95e0df51a9cc61/tumblr_por0vgiU6w1w9vmtxo1_540.png"alt="nitw mae test for rails"/>
<img src="https://66.media.tumblr.com/656401fed7fddd9572314ce4cbd8bea3/tumblr_pb44ju0cYm1ubocixo1_1280.png" alt="another test nitw mae test img"/>
</div>
<!--scripts here -->
