<!DOCTYPE html>
<html>
  <head>
	
	<% stylesheet_link_tag 'game_style.css' %>
  </head>
  <body class="games-background">
    <div align ="center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/6kYTe25h-bU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </body>
</html>
